[Unit]
Description=BridgeBox Root Setup (hotspot/firewall)
After=network.target
Before=bridge-box-update.service

[Service]
Type=simple
ExecStart=/home/bridgebox/bridge-box-root.sh
User=root
Restart=on-failure
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target